:root{
    --color-iris: #4D5AE5;
    --color-navyblue: #2E2F42;
    --color-white: #FFFFFF;
    --color-cornflower: #E7E9FC;
    --color-ocean: #404BBF;
    --color-cloud: #F4F4FD;
    --color-dairy: #FCFCFC;
    --color-slate: #434455;
    --font-family-raleway:'Raleway',san-serif;
    --font-family-open-sans:'Open sans',san-serif;
    --font-family-roboto: 'Roboto',san-serif;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Opens Sans' ,san-serif;
    font-family: Roboto;
}

.logo-webstudio::before {
    content: "WEB";
    color: var(--color-iris);
}
.logo-webstudio {
    color: var(--color-navyblue);
    text-decoration: none;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-align: left;

}
.nav-menu-link a{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    text-decoration: none;
}

.nav-menu{
    list-style: none;
}

.address-menu{
    list-style: none;
}

.address-email-link,
.address-telephone-link {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.main-hero {
    background-color: var(--color-navyblue);
    width: 1440px;
    height: 600px;
    top: 72px;
}

.service-hero-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.02em;
    color: var(--color-white);
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: center;
    padding-top: 260px;
    height: 120px;
    width: 496px;
}

.service-button-cta {
    background-color: var(--color-ocean);
    color: var(--color-white);
    height: 56px;
    width: 169px;
    box-shadow: none;
    border-radius: 1px;
    border: none;
}
.service-button-cta:hover{
    cursor: pointer;
}
.section-filter{
    width: Hug (586px);
    height: Hug (48px);
    top: 168px;
    left: 427px;
    gap: 24px;
}

.filter-btn{
    width: Hug (116px);
    height: Hug (48px);
    padding: 12px 24px 12px 24px;
    border-radius: 4px;
    border: 1px;
    background: linear-gradient(0deg, #F4F4FD, #F4F4FD),
    linear-gradient(0deg, #E7E9FC, #E7E9FC);
    border: 1px solid var(--color-cornflower);
}
.filter-btn :active{
    background: var(--color-ocean);
}

.section-gallery-title,.our-team-title{
    color: #2E2F42;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: center;
}

.section-item-gallery {
    width: 1128px;
    height: 412px;
    top: 1016px;
    left: 156px;
}

.section-item-team{
    width: 1440px;
    height: 732px;
    top: 1548px;    

}

.our-team-name
.section-features-list{
    color:var(--color-navyblue);
}

.ourteam-work,
.section-features-item {
    color:var(--color-slate);
}

footer {
    width: 1440px;
    height: 312px;
    top: 2280px;
    background: var(--color-navyblue);
}

.text-web{
    color: var(--color-iris);
    text-decoration: none;
    font-family: Raleway;
}

.text-studio{
    color: var(--color-cloud);
    text-decoration: none;
    font-family: Raleway;

}

.text-footer{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--color-cloud);
}
.text-footer:hover{
     color: var(--color-iris);
}
.address-email-link:hover,
.address-telephone-link:hover{
    color: var(--color-navyblue);
}
.nav-menu-link:active{
    color: var(--color-slate);
}
