h1 {
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.02em;
    text-align: center;

}

.logo-web {
    color: #4D5AE5;
    text-decoration: none;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-align: left;
}

.logo-studio {
    color: #2E2F42;
    text-decoration: none;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-align: left;
}

nav {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    text-decoration: none;
}

ul {
    list-style: none;
}

a:hover {
    color: blue;
}

.info-link,
.tel-link {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.hero {
    background-color: #2E2F42;
    color: #FFFFFF;
    width: 1440px;
    height: 600px;
    top: 72px;

}

.order-button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    height: 56px;
    width: 169px;
}

h3 {
    color: #2E2F42;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    width: 264px;
    height: 24px;
}

h2 {
    color: #2E2F42;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: center;
}

p {
    color: #434455;
    width: 264px;
    height: 72px;
    /* styleName: Body; */
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    padding: 10px;
}

.items {
    width: 1128px;
    height: 104px;
    top: 792px;
    left: 156px;
    border: #434455;
    display: flex;
}
.section-item-gallery {
    width: 1128px;
    height: 412px;
    top: 1016px;
    left: 156px;

}
.section-item-team{
    width: 1440px;
    height: 732px;
    top: 1548px;    

}
footer {
    width: 1440px;
    height: 312px;
    top: 2280px;
}
